<html>
  <head>
    <title>{{blog_name}}</title>
  </head>
  <body>
    
    <div id="top">
      {{blog_name}}
    </div>

    <div id="posts">
      <div class="post">
        <h1>This is your initial post</h1>
        Congratulations {{user_name}}, your blog has been created. Enjoy Speechhub!
      </div>
    </div>

    <div id="sidebar">
      <div id="about">
      </div>
      <div id="old_posts">
      </div>
    </div>
    
    <div id="pages">
    </div>

  </body>
</html>