<html>
  <head>
    <title>{{blog_name}}</title>
  </head>
  <body>
    <h1>This is your initial post</h1>
    Congratulations {{user_name}}, your blog has been created. Enjoy Speechhub!
  </body>
</html>