<html>
  <head>
    <link rel="stylesheet" href="{{url}}/static/css/{{css_file}}" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{blog_name}}</title>
  </head>
  <body>
    
    <div id="top">
      <h1 class="blog-title">
        {{blog_name}}
      </h1>
      <span class="blog-description">
        {{blog_description}}
      </span>
    </div>

    <div id="content">

      <div id="posts">
        {{#posts}}
          <div class="post">
            <h1 class="post-title">{{title}}</h1>

            <div class="meta">
              <span class="author">
                {{author}}
              </span>
              <span class="date">
                {{date}}
              </span> 
            </div>
            
            <span class="postbody">
              {{{post}}}
            </span>

            {{{disqus}}}

          </div>
        {{/posts}}

        <div id="bottom">  
          <div id="pages">
            {{{paginator}}}
          </div>
        </div>

      </div>

      <div id="sidebar">
        <div id="about">
          <h3>About</h3>
          {{about_author}}
        </div>
        <div id="contact">
          <h3>Contact</h3>
          {{#contacts}}
            {{title}}: {{contact}}<br/>
          {{/contacts}}
        </div>
        <div id="old-posts">
          <h3>Old Posts</h3>
          {{#old_posts}}
            <a href="{{url}}">{{title}}</a><br/>
          {{/old_posts}}
        </div>
        <div id="links">
          <h3>Links</h3>
          {{#links}}
            <a href="{{url}}">{{text}}</a><br/>
          {{/links}}
        </div>
      </div>

    </div>

    <!--div id="footer">
      <p>
        Wow, thi blog uses Speech Hub! <a href="http://www.github.com/alvesjnr/speechhub">Fork Speech Hub on Github</a>
      </p>
    </div-->

  </body>
</html>