<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{blog_name}}</title>
  </head>
  <body>
    
    <div id="top">
      <h1 class="blog-title">
        {{blog_name}}
      </h1>
      <span class="blog-description">
        {{blog_description}}
      </span>
    </div>

    <div id="posts">
      {{#posts}}
        <div class="post">
          <h2>{{title}}</h2>
          <span class="author">
            {{author}}
          </span>
          <span class="date">
            {{date}}
          </span> 
          <span class="post-body">
            {{{post}}}
          </span>
        </div>
      {{/posts}}
    </div>

    <div id="bottom">  
      <div id="pages">
        {{{paginator}}}
      </div>
    </div>

    <div id="sidebar">
      <div id="about">
      </div>
      <div id="old-posts">
      </div>
    </div>
    

  </body>
</html>